* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0.5rem 0rem;
}

.headline {
    width: 65rem;
    margin: auto;
}

@media  screen and (max-width:1240px) {
    .headline {
        width: auto;
        margin-left: 6vh;
    }
}

.headline,
.price-plan_head {
    font-size: 1.8rem;
    font-weight: 600;
}

.main-tweets_section {
    background: hsl(184, 100%, 86%);
    padding: 2rem 1rem;
}

.tweets-container {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin: 1.5rem 0rem;
    align-items: flex-start;

}

.tweets {
    box-shadow: 0px 0px 2px rgba(126, 125, 125, 0.137);
    width: 20.7rem;
    width: clamp(20rem, 30%, 20.7rem);
    padding: 1.2rem 1.2rem 0.3rem 1.2rem;
    background: hsla(192, 100%, 98%, 0.945);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.info div {
    display: flex;
    align-items: center;
}

.info img {
    width: 2.8rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin-right: 0.6rem;
}

.info i {
    color: rgb(0, 162, 255);
}

.tweet {
    margin: 1rem 1rem 0rem 0rem;
    opacity: 90%;
    line-height: 1.5;
}
.handle {
    font-weight: 100;
    font-size: 0.8rem;
    opacity: 70%;
}

.like-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    
}

.like-section span {
    width: 30%;
}

.like-section i {
    color: rgb(168, 0, 0);
    margin-right: 3px;
}

.price-plan_container {
    text-align: center;
    width: 28rem;
    width: clamp(20rem, 50%, 28rem);
    margin: 3rem auto;
}

.price-plan_container > p {
    margin-bottom: 2.5rem;
}
.price-plan {
    background-color: hsla(38, 100%, 95%, 0.623);
    text-align: left;
    padding: 0.2rem 1.5rem 1.5rem 1.5rem;
    border-block: 1px solid orange;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.price-plan a {
    background-color: rgb(54, 124, 253);
    width: 100%;
    color: white;
    text-decoration: none;
    padding-block: 1rem;
    display: block;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.price-plan ul {
    padding-left: 0;
    margin-bottom: 2rem;
    list-style: none;
    line-height: 1.5;
}

.price-plan ul li {
    margin-block: 1rem;
}

.price-plan ul li i {
    color: rgb(76, 131, 76);
    margin-right: 0.7rem;
}

.price-plan a i {
    margin-right: 0.8rem;
}

.price {
    font-weight: 900;
    font-size: 2.4rem;
    margin: 0rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(49, 49, 49, 0.507);
}

.price span {
    font-weight: 100;
    font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
    .tweets-container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 320px) {
    .headline {
        margin: auto;
        text-align: center;
    }

    .tweets,
    .price-plan_container {
        width: 95vw;
    }
}